*.iml
.kotlin
.gradle
.fleet
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/generated/
/.gitignore 2
/build.gradle 2.kts
/gradle 2.properties
/gradlew 2
/gradlew 2.bat
/settings.gradle 2.kts
